/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 10, 2016, 10:27:04 AM
    Author     : Alexandria Lenz
*/


body {
    background-image: url(images/background.jpg);
    /* height: 1200px; */
    z-index: -1;
    margin-bottom: 0px;
    /* margin: 10px; */
}


.body {
    width: 1100px;
    margin: auto;
    display: block;
    background-color: #fff;
    z-index:0;
    margin-top: -2em;
    /* height: 1300px; */
}

/***** HOME PAGE ******/

#banner {
    display: block;
    margin: auto;
    /* margin-top: 1em; */
    transition-duration: 3s;
    width: 92%;
    margin-top: .5em; 
    padding-top: .5em;
    padding-bottom: .5em;
}

.upperdivider img {
    position: absolute; 
    display: block;
    margin-left: 45px; 
    text-align: center;
    width: 1010px; 
}

#logo {
    width: 35%;
    height: auto;
    display: block; 
    margin: auto; 
    padding-top: 3em;
    padding-bottom: 1em; 
}

#designhandmade {
    display: inline-block;
    /* margin: auto; */
    width: 100%;
    padding-top: .5em;
    text-align: center;
    padding-bottom: .5em;
}

#design {
    width: 61%;
}

#handmade {
    width: 30%; 
    padding-left: 6px;
}

#roundbuttons {
    display: inline-block;
    /* margin: auto; */
    width: 1100px;
    padding-top: .5em;
    text-align: center; 
    margin-top: 4em;
    z-index:3; 
    position: absolute; 

}

#round1 {
    width: 25%;
}

#round2 {
    padding-left: 2em;
    padding-right: 2em;
    width: 25%;
}

#round3 {
    width: 25%; 
}

#homepp {
    margin-top: .5em;
    position: absolute;
    display:inline-block;
    text-align: center; 
    z-index: 2;
    margin-left: 160px;
}

#homepp img{
    width: 60%;

}

.footerdivider img{
    position: absolute; 
    display: block;
    margin-left: 45px; 
    text-align: center;
    width: 1010px; 
}

#tealbar {
    margin-left: -2em;
    width:100%;

}




/**************/
/* NAVIGATION */
/****~~~~~~~~*/




@font-face {
    font-family: 'contax_pro_45_ligregular';
    src: url('font/contaxpro45lig-webfont.eot');
    src: url('font/contaxpro45lig-webfont.eot?#iefix') format('embedded-opentype'),
        url('font/contaxpro45lig-webfont.woff2') format('woff2'),
        url('font/contaxpro45lig-webfont.woff') format('woff'),
        url('font/contaxpro45lig-webfont.ttf') format('truetype'),
        url('font/contaxpro45lig-webfont.svg#contax_pro_45_ligregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

nav {
    height: 35px;
    width: 100%;
    padding-bottom: 15px; 
    text-align: center;
}

nav ul {
    width: 100%;
    display: inline-block;
    padding: 0px;
    margin-left: 45px;
}


ul li {
    display: table-cell;
    text-align: center;
}

ul li a{
    font-family: 'contax_pro_45_ligregular', sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 25px;
    color: #929395;
    text-decoration: none;
    font-size: 13px;
    margin-left: 30px;
    margin-right: 30px;
}

ul li a:hover {
    font-family: 'contax_pro_45_ligregular', sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
    color: #be69a1;
    text-decoration: none;
    font-size: 13px;

}

ul li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

/*Hover state for dropdown links*/
ul li:hover ul a:hover {
    background: #19c589;
    color: #fff;

}

/*Hide dropdown links until they are needed*/
ul li ul {
    display: none;
}

/*Make dropdown links vertical*/
ul li ul li {
    display: block;
    float: none;
}

ul li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

/*Display the dropdown on hover*/
ul li a:hover + .hidden, .hidden:hover {
    display: block; 
    font-size: .75em;
    padding: 10px 0; 
}


/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #a4ddca;
    text-align: center;
    padding: 10px 0;
    display: none;
}

/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}


/**************ABOUT****************/
.font {
    font-family: 'contax_pro_45_ligregular', sans-serif;
    font-size: 14px;
    color: #929395;
    text-align: center;
}

#abouttxt {
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 70px;
    position: absolute;
    width: 1000px;
}

.header img{
    position: absolute;
    display: inline-block;
    /* margin-left: 45px; */
    text-align: center;
    width: 1010px;
    margin-top: 20px;
    margin-left: 45px;
    margin-bottom: 20px;
    
}


/**************FOOTER***************/

#footer {
    background-color: #fff;
    margin-top: 450px;
}

#rightside {
    float: right;
    width: 50%;
    background-color: #fff;
    /* margin-bottom: 50px; */
    padding-top: 5px;
}

#right {
    float: right;
    display: inline-block;
    padding-right: 3em;
}

.socialicon {
    width: 30px; 
}

#leftside {
    float: left;
    width: 50%;
    display: inline-block;
    background-color: #fff;
    padding-bott: 2px;
}

button {
    width:17%;
    background: transparent;
    border: none;
    margin-top: -1px;
    margin-left: 200px;
    /* padding-bottom: 10px; */
}

#joinnow img {
    width: 100%; 

}

.footertext {
    font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
    font-size: .75em;
    color: #929395;
    /* padding-bottom: 5px; */
}

#changesreturns {
    float:right;
    color: #929395;
}

#rightabout {
    float: right;
    color: #929395;
}

#changesreturns a{
    color: #929395;
}

#rightabout a{
    color: #929395;
}

#socialbuttons {
    padding-left: 240px;
    float: left;
    width: 110px;
    padding-top: 15px;
}

#socialbuttons img {
    padding-left: 2px;
    padding-right: 2px;
}

#center {

    width: 76px;

    float: right;

    margin-right: 40px;
}

#right {

    width: 76px;

    padding-right: .5em;
    margin-left: -90px;
    margin-right: -10px;
}

#right img{

    margin-top: 5px;

}

#center img{
    margin-left: 10px;
    margin-top: 5px;
}



#emailsignup p {
    padding-left: 43px;
    padding-bottom: -20px;
    font-size: 11px;
    width: 150px;
    margin-top: 10px;
}

input:placeholder-shown {
    font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
    font-size: .75em;
}

input {
    width: 150px;
    height: 20px;
    margin-left: 43px;
    float: left;
    position: absolute;
    /* padding-bottom: 10px; */
}

.footertext a {
    text-decoration: none;
}

#socialbuttons a {
    text-decoration: none;
}



/***tealbar***/


#email a {
    float: right;
    text-decoration: none;
    color: #fff;
}

#copywrite {
    color: #fff;
    z-index: 5;
    margin-top: 100px;
    padding-left: 10px;
    position: absolute;
    font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
    font-size: 15px;
    z-index: 5;
    width: 40%;
    float: left;
}

#email {

    position: absolute;
    font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
    font-size: 15px;
    z-index: 6;
    float: right;
    padding-left: 0px;
    width: 100px;
    bottom: 30px;
    color: #fff;
    bottom: auto;
    margin-right: 0px;
    margin-left: 990px;
    margin-top: 100px;


}

br {
    display: block;
    line-height:22px;
}

#end {
    width: 100%;
    height: 150px;
    z-index: 3;
    background-color: #a4ddca;
    /* margin-top: 20px; */
}









/******************************/
/*Responsive Styles*/
/*****************************/


@media screen and (max-width : 900px){
    /*Make dropdown links appear inline*/
    .body {
        width: 90%; 
        height: 100%;
    }

    /** grey lines 8**/
    .footerdivider {
        display: none;
    }

    .upperdivider {
        display: none; 
    }

    #homepp {
        display: none;
    }

    #roundbuttons {
        width: 90%; 
        display: inline; 
        padding: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }    
    
    
    
/**************ABOUT****************/
.font {
    font-family: 'contax_pro_45_ligregular', sans-serif;
    font-size: 14px;
    color: #929395;
    text-align: center;
    margin-right: 15px;
}

#abouttxt {
    position: relative;
    /* margin-right: 20px; */
    /* margin-left: 0px; */
    margin-top: 1em;
    width: 90%;
}

.header img{
    position: relative;
    width: 90%;
    margin-top: 1em;
    margin-left: 45px;
    margin-bottom: 20px;
}


/****FOOTER*****/  


    #footer {
        margin-top: 250px;
        background-color: #fff;
        width: 100%;
        padding-bottom: 250px;
    }

    #rightside {
        float: right;
        width: 100%;
        background-color: #fff;
        padding-bottom: 5px;
        /* padding-top: 10px; */
        padding-left: 10px;
        margin-top: 140px;
    }

    #right {
        float: right;
        display: inline-block;
        padding-right: 3em;

    }

    .socialicon {
        width: 30px; 
        padding-left: 10px;
    }

    #leftside {
        float: left;
        width: 0%;
        display: inline-block;
        background-color: #fff;
        padding-bottom: 50px;
        margin-top: 30px;
    }

    button {
        width: 90px;
        background: transparent;
        border: none;
        margin-top: 40px;
        margin-left: 37px;
        padding-bottom: 10px;
    }

    #joinnow img {
        width: 100%; 
    }

    .footertext {
        font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
        font-size: .75em;
        color: #929395;
    }

    #changesreturns {
        float:right;
        color: #929395;
    }

    #rightabout {
        float: right;
        color: #929395;
    }

    #changesreturns a{
        color: #929395;
    }

    #rightabout a{
        color: #929395;
    }

    #socialbuttons {
        padding-left: 0px;
        float: left;
        width: 110px;
        padding-top: 15px;
        padding-left: 40px;
        margin-top: 0px;
    }

    #socialbuttons img {
        padding-left: 2px;
        padding-right: 2px;
    }

    #center {

        width: 76px;

        float: right;

        margin-right: 40px;
    }

    #right {

        width: 76px;

        padding-right: .5em;
        margin-left: -90px;
        margin-right: -10px;
    }

    #right img{

        margin-top: 5px;

    }

    #center img{
        margin-left: 10px;
        margin-top: 5px;
    }


    .footertext a {
        text-decoration: none;
    }

    #socialbuttons a {
        text-decoration: none;
    }



    /***tealbar***/

    #tealbartext {
        width: 100%; 
        display: inline-block;
        position: relative;
        z-index: 5;
    }

    #copywrite {
        color: #929395;
        width: 100%;
        padding-left: 40px;
        margin-top: 220px;
        background-color: #fff;
    }
    
    #email{
     margin-top: 200px;
     /* margin-right: 500px; */
     margin-left: 100px;
     /* margin-bottom: 5px; */
     /* padding-bottom: 15px; */
     /* padding-left: 100px; */
     /* padding-right: 900px; */
     /* padding-top: 15px; */
     position: absolute;
     font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
     font-size: 15px;
     z-index: 5;
     /* width: 700px; */
     /* float: left; */
     background-color: #fff;
    }
    
    #email a {
        color: #a4ddca;
        padding-left: 10px;
    }
    
    br {
        display: block;
        line-height:22px;
    }

    #end {
display:none;
    }
    /***** MOBILE NAV ******/

    nav { 
        height: auto;
    }
    nav ul {
        width: 100%;
        height: inherit;
        display: block;
        height: auto;
        margin-left: -40px;
        padding: 0px;
        text-align: center;
    }
    nav li {
        width: 50%;
        float: left;
        position: relative;
    }
    nav li a {
        border: none;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    nav li a:hover {
        border: none;
        width: 100%;
        text-align: center;
    }
    nav a {
        text-align: left;
        width: 100%;

    }
}

@media screen and (max-width : 650px){

        .body {
        width: 90%; 
        height: 100%;
    }

    /** grey lines 8**/
    .footerdivider {
        display: none;
    }

    .upperdivider {
        display: none; 
    }

    #homepp {
        display: none;
    }

    #roundbuttons {
        width: 80%;
        display: inline;
        padding: 0px;
        margin-top: 10px;
        margin-left: 15px;
        margin-right: auto;
    }    
/****FOOTER*****/    
    #footer {
        margin-top: 250px;
        background-color: #fff;
    }

    #rightside {
        float: right;
        width: 100%;
        background-color: #fff;
        padding-bottom: 50px;
        padding-top: 10px;
        padding-left: 10px;
    }

    #right {
        float: right;
        display: inline-block;
        padding-right: 3em;

    }

    .socialicon {
        width: 30px; 
        padding-left: 10px;
    }

    #leftside {
        float: left;
        width: 0%;
        display: inline-block;
        background-color: #fff;
        padding-bottom: 50px;
    }

    button {
        width: 100px;
        background: transparent;
        border: none;
        margin-top: 40px;
        margin-left: 37px;
        padding-bottom: 10px;
    }

    #joinnow img {
        width: 100%; 
    }

    .footertext {
        font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
        font-size: .75em;
        color: #929395;
    }

    #changesreturns {
        float:right;
        color: #929395;
    }

    #rightabout {
        float: right;
        color: #929395;
    }

    #changesreturns a{
        color: #929395;
    }

    #rightabout a{
        color: #929395;
    }

    #socialbuttons {
        padding-left: 0px;
        float: left;
        width: 110px;
        padding-top: 15px;
        padding-left: 40px;
    }

    #socialbuttons img {
        padding-left: 2px;
        padding-right: 2px;
    }

    #center {

        width: 76px;

        float: right;

        margin-right: 40px;
    }

    #right {

        width: 76px;

        padding-right: .5em;
        margin-left: -90px;
        margin-right: -10px;
    }

    #right img{

        margin-top: 5px;

    }

    #center img{
        margin-left: 10px;
        margin-top: 5px;
    }


    .footertext a {
        text-decoration: none;
    }

    #socialbuttons a {
        text-decoration: none;
    }



    /***tealbar***/

    #tealbartext {
        width: 100%; 
        display: inline-block;
        position: relative;
        z-index: 5;
    }

    #copywrite {
        color: #929395;
        width: 100%;
        padding-left: 40px;
    }
    
    #email{
     margin-top: 150px;
     margin-right: 500px;
     margin-left: 0px;
     padding-bottom: 15px;
     padding-left: 100px;
     padding-top: 15px;
     position: absolute;
     font-family: 'contax_pro_45_ligregular', Helvetica, Arial, sans-serif;
     font-size: 15px;
     z-index: 5;
     /* width: 100%; */
     float: left;
    }
    
    #email a {
        color: #19c589;
        padding-left: 10px;
    }
    
    br {
        display: block;
        line-height:22px;
    }

    #end {
display:none;
    }
    
    
    
    
    
/**** NAV ****/    
    
    /*Make dropdown links appear inline*/
	nav ul {
		position: static;
		display: block;
	}     
        
	/*Create vertical spacing*/
	ul li {
		margin-bottom: 1px;
	}
	/*Make all menu links full width*/
	ul li, li a {
		width: 100%;
	}
	/*Display 'show menu' link*/
	.show-menu {
		display:block;
	}
}


